%html

  %head
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title My Mood

    = stylesheet_link_tag 'bootstrap.min'
    = stylesheet_link_tag 'bootstrap-responsive.min'
    = stylesheet_link_tag 'index'
    = stylesheet_link_tag 'jquery-ui'

  %body
    %div.container-fluid#A
      %div.row-fluid
        %div.span6
          %h1 Welcome to My Mood!
          %p schpeal about how great this site is and why you should use it
        %div.span4.offset2.well
          %h3 Login
