#user_pic {
    padding-top: 5px;
}

.content {
    padding-top: 50px;
}

html, body, .wrapper {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.wrapper td {
    vertical-align: middle;
    text-align: center;
}

.centered {
    text-align: center;
}

.row-fluid .offset1 {
    margin-left: 8%;
}

.withline {
    border-left: 3px solid white;
    border-right: 3px solid white;
}

.axis path,.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke-width: 1.5px;
}

#B {
    display: none;
}

#members-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#member-names {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

#message-content {
    width: 97%;
    height: 100px;
}

#time-input {
    float: right;
}

#confirm-message-btn {
    width: 100%;
}

#homepage-padding {
    height: 50px;
}

#avg-mood {
    font-size: 100px;
    text-align: center;
    padding-top: 43px;
    /*background-color: red;*/
}

/*#myCarousel {*/
    /*padding: 0 90px;*/
/*}*/

#widget {
    height: 26em;
}

#line-graph #pie-chart {
    width: 100%;
    height: 30em;
}

.settings {
    height: 30em;
}

#settings-content {
    display: none;
}

.carousel-control {
    top: 100%;
}

.carousel-control .right {
    right: 40%;
}

.carousel-control .left {
    left: 40%;
}

#notice {
    border: 1px dashed green;
    background-color: #d2f9ac;
    padding: 0 0 0 10px;
}

#alert {
    border: 1px dashed red;
    background-color: lightpink;
    padding: 0 0 0 10px;
}

#failed-change #status-button {
    margin-top: 5px;
    margin-left: 10px;
}

.message {
    float: left;
}

body {
    background-image: url("background.jpg");
    background-size: cover;
}

.modal {
    width: 250px;
    margin-left: -125px;
}

#categories {
    height: 400px;
    margin-left: 0;
}

.delete-btn {
    line-height: 18px;
    padding: 0 16px 0 16px;
}

#category-table {
    max-height: 24em;
    overflow-y: auto
}

#remember-me {
    float: left;
    margin-right: 5px;
}

#message-header {
    float: left;
    margin-right: 10px;
}

#add-message {
    margin-top: 17px;
    margin-bottom: 15px;
}

#widget {
    overflow-y: auto;
}

.chat-from-my-mood {
    padding: 4px;
    display: inline-block;
    background-color: darkgrey;
    margin-bottom: 0;
    clear: right;
    float: left;
}

.chat-user {
    padding: 4px;
    display: inline-block;
    background-color: lightblue;
    margin-bottom: 0;
    clear: left;
    float: right;
}