<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>My Mood</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= csrf_meta_tags %>
</head>
<body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <%= javascript_include_tag 'application' %>
    <script src="http://code.highcharts.com/highcharts.js"></script>

    <%= yield %>

</body>
</html>
