<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>My Mood</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= csrf_meta_tags %>
</head>
<body>
    <%= javascript_include_tag 'application' %>

    <%= yield %>

</body>
</html>
